*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background-color: #111;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #111;
}
.container h1{
    color: crimson;
}
#resultado{
    color: crimson;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}
#textarea{
    background: transparent;
    outline: none;
    border: 2px solid crimson;
    color: #fff;
    padding: 10px;
}

#textarea::-webkit-scrollbar{
    width: 10px;
    border: 2px solid #222;
}
#textarea::-webkit-scrollbar-thumb{
    background-color: crimson;
    border-radius: 10px;
}
#btn{
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s;
    background-color: crimson;
    border: none;
    outline: none;
}
#btn:hover{
    background-color: #222;
    transform: scale(1.08);
    color: white;
}